@tailwind base;
@tailwind components;
@tailwind utilities;

// Import section styles
@import '../styles/sessions/hero';

:root {
  --primary-orange: #DF6951;
  --accent-yellow: #F1A501;
  --navy-blue: #181E4B;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* This is the most important line for mobile */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-poppins), sans-serif;
  color: #5E6282;
  overflow-x: hidden;
}

// Apply the font to the heading globally or via Tailwind
.font-volkhov {
  font-family: var(--font-volkhov), serif;
}